<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/homestudent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
      $(document).ready(function(){
        $('.checkbtn').click(function(){
          $('ul').toggleClass('show');
        });
      });
    </script>
     
    <title>Document</title>
</head>
<body>
  <div class="layout">
    <div class="header">
      <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars" ></i>
        </label>
        <a href="/logout"><span class="logout">&times;</span></a>

    </div>
        <div class="layout1">
            <div class="menu">
                <ul>
                  <li><a href="/account/indexStudent">Home</a></li>
                    <li id="popupdk">Upload file</li>
                    <li><a href="/file/fileSubmited" >File Submitted</a></li>
                </ul>

            </div>
            <div class="content">
              <h1>File submitted</h1>
              <p style="color:red;">Deadline for edit:</p> 
              <p id = "del" style="color:red;"><%= a %></p>
              <p style="color:red;">(yy-mm-dd hh:mm)</p>
              <p id = "del1" style="display: none"><%= b %></p>
             
              <h1> The article has been graded without editing</h1>
               

              <table class="table">
                
              <tr>
                  <th>First submit</th>
                  <th>Poster</th>
                  <th>Status</th>
                  <th>Comment</th>
                  <th>Update</th>
              </tr>

              <% data.forEach(function(data) { %>
                <tr>
                    <%if (data.status =="Pass") { %>
                    <td>                        
                      <a href="/download/<%= data._id %>"><%= data.nameFile %></a>
                    </td>
                    <td>
                      <%if (data.filePathAnh) { %>
                        <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                      <% }  %> 
                    </td>
                    <td><%= data.status %></td>
                    <td><%= data.comment %></td>
                    <td><p>Can't update file</p></td>
                    <% }  %>
                </tr>
              <% }); %>

              <% data.forEach(function(data) { %>
                <tr>
                    <%if (data.status =="Fail") { %>
                    <td>                        
                      <a href="/download/<%= data._id %>"><%= data.nameFile %></a>
                    </td>
                    <td>
                      <%if (data.filePathAnh) { %>
                        <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                      <% }  %> 
                    </td>
                    <td><%= data.status %></td>
                    <td><%= data.comment %></td>
                    <td><p>Can't update file</p></td>
                    <% }  %>
                </tr>
              <% }); %>
              </table>  
            

              <h1>  Update file </h1>
              <table class="table">
                <tr>
                    <th>First submit</th>
                    <th>Poster</th>
                    <th>Update edition</th>
                    <th>Satus</th>
                    <th>Comment</th>
                    <th>Update</th>
                </tr>
                <% data.forEach(function(data) { %>
                  <tr>
                      <%if (data.status =="not rate" && data.nameFile2 && data.status2 =="Pass") { %>
                      <td>
                        <a href="/download/<%= data._id %>"><%= data.nameFile %></a> 
                      </td>
                      <td>
                        <%if (data.filePathAnh) { %>
                          <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                        <% }  %>  
                      </td>
                      <td><a href="/download2/<%= data._id %>"><%= data.nameFile2 %> 
                        <%if (data.filePathAnh2) { %>
                          <img src="/<%= data.filePathAnh2 %>" width="100px" height="100px"/>
                        <% }  %>  
                      </td>
                      <td><%= data.status2 %></td>
                      <td><%= data.comment2 %></td>
                      <td>Can't update file</td>
                      <% }  %>
                  </tr>   
                <% }); %>
                <% data.forEach(function(data) { %>
                  <tr>
                      <%if (data.status =="not rate" && data.nameFile2 && data.status2 =="Fail") { %>
                      <td>
                        <a href="/download/<%= data._id %>"><%= data.nameFile %></a>
                      </td>
                      <td>
                        <%if (data.filePathAnh) { %>
                          <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                        <% }  %>  
                      </td>
                      <td><a href="/download2/<%= data._id %>"><%= data.nameFile2 %>   
                        <%if (data.filePathAnh2) { %>
                          <img src="/<%= data.filePathAnh2 %>" width="100px" height="100px"alt="photo for report"/>
                        <% }  %>                        </td>
                      <td><%= data.status2 %></td>
                      <td><%= data.comment2 %></td>
                      <td><p>Can't update file</p>                      </td>
                      <% }  %>
                  </tr> 
                <% }); %>
                
                <% data.forEach(function(data) { %>
                  <tr>
                      <%if (data.status =="not rate" && data.nameFile2 && data.status2 =="not rate") { %>
                      <td>
                        <a href="/download/<%= data._id %>"><%= data.nameFile %></a>
                      </td>
                      <td>
                        <%if (data.filePathAnh) { %>
                          <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                        <% }  %>     
                      </td>
                     <td><a href="/download2/<%= data._id %>"><%= data.nameFile2 %>   
                        <%if (data.filePathAnh2) { %>
                          <img src="/<%= data.filePathAnh2 %>" width="100px" height="100px"/>
                        <% }  %>                        </td>
                      <td><%= data.status2 %></td>
                      <td><%= data.comment2 %></td>
                      <td><p>Can't update file</p></td>
                      <% }  %>
                  </tr> 
                <% }); %>
                <!-- <th>Bài chưa nộp 2nd</th> -->
                <% data.forEach(function(data) { %>
                  <tr>
                      <%if (data.status =="not rate" &&! data.nameFile2) { %>
                        <td>
                          <a href="/download/<%= data._id %>"><%= data.nameFile %></a>
                        </td>
                        <td>
                          <%if (data.filePathAnh) { %>
                            <img src="/<%= data.filePathAnh %>" width="100px" height="100px"alt="photo for report"/>
                          <% }  %>  
                        </td>
                        <!-- <td><%= data.status %></td> -->
                        <td><a href="/download2/<%= data._id %>"><%= data.nameFile2 %>
                          <%if (data.filePathAnh2) { %>
                            <img src="/<%= data.filePathAnh2 %>" width="100px" height="100px"alt="photo for report"/>
                          <% }  %>  
                        </td>
                      <!-- <td><%= data.status2 %></td> -->
                      <td></td>
                        <td><%= data.comment2 %></td>
                        <td><p>Can't update file</p></td>
                        <% }  %>
                    </tr> 
                  <% }); %>
            </table>
          
      </div>
      </div>
  </div>
    
    <div class="footer">
        <p>@University-2021</p>
        <p id = 'deadline' style="display: none;">{{deadline}}</p>
    </div>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <iframe src="../uploads/dieukhoan.txt" class="dk"></iframe>
  <br>
  <p>Do you agree with the above terms?</p>
  <input type="radio" id="male" name="gender" value="Yes"> <label for="male">Yes</label>
  <input type="radio" id="female" name="gender" value="No"> <label for="female">No</label><br><br>
   <input type = "submit" id="btn1" value="Next">
   <script language="javascript">
    document.getElementById("btn1").onclick = function ()
    {
      let ts = Date.now();
      let date_ob = new Date(ts);
      let date = date_ob.getDate().toString().padStart(2, "0");;
      let month = (date_ob.getMonth() + 1).toString().padStart(2, "0");
      let hour = date_ob.getHours().toString().padStart(2, "0");;
      let minutes = date_ob.getMinutes().toString().padStart(2, "0");;
      let year = date_ob.getFullYear();
      dl = year + "-" + month + "-" + date + " " + hour + ":" + minutes;
      var checkbox = document.getElementsByName("gender"); 
        for (var i = 0; i < checkbox.length; i++){
          if (checkbox[i].checked === true){
            if(checkbox[i].value ==='No'){
              alert("You must agree to continue")
            }else{
              var dealine = document.getElementById("del1").innerHTML ;
              if(dl < dealine){
                location.href = "/file"
                }else{
                  alert("Out of date to upload file")
                }
            }
          }
        }
      
  };
</script>
      </div>
    
    </div>
    
    <script>
    // Get the modal
    var modal = document.getElementById("myModal");
   
    // Get the button that opens the modal
    var btn = document.getElementById("popupdk");  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</body>
</html>