<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/homemanage.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script>
    $(document).ready(function () {
      $('.checkbtn').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>
  <title>Document</title>
</head>
<style>
  .header {
    background-color: #f1f1f1;
  }

    {
      {
       !-- style search --
    }
  }

  .header form {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 20%;
  }

  .header form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }

  .header form input:focus {
    border: none;
  }

  .header form input::placeholder {
    color: #ccc;
  }

  .header form input:focus::placeholder {
    color: #ccc;
  }

  .header form input::-webkit-input-placeholder {
    color: #ccc;
  }

  .header form input:focus::-webkit-input-placeholder {
    color: #ccc;
  }

  .mid {
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .mid li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ccc;
  }

  .mid .headerMid {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .bodyConatainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    background-color: white;
    align-items: center;
  }

  .contentContainer {
    width: 100%;
    height: 500px;
    border-width: 1px;
    background-color: white;
    align-items: center;
    overflow: auto;
    margin-bottom: 18px;
  }

  .footerContainer {
    width: 100%;
    height: 100px;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .contentContainer li {
    list-style: none;
    display: flex;
    width: 70%;
    height: 100px;
    background-color: #E9F1F5;
    margin-top: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .viewContainer {
    width: 100%;
    height: 100px;
    border-width: 1px;
    background-color: green;
    display: flex;
    flex-direction: row;
  }

  .viewLeft {
    width: 65%;
    height: 100px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .viewLeft h5 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
  }

  .viewLeft p {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  .viewRight {
    width: 30%;
    height: 100px;
    border-width: 1px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
  }

  .viewRight i {
    font-size: 20px;
  }

  .footerContainer {
    width: 100%;
    height: 100px;

  }

  .footerContainer ul {
    border: 0;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  #pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;

  }

  #pagination-flickr a {
    border: solid 1px #DDDDDD;
    margin-right: 2px;
  }

  #pagination-flickr .previous-off,
  #pagination-flickr .next-off {
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 4px;
  }

  #pagination-flickr .next a,
  #pagination-flickr .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
  }

  #pagination-flickr .active {
    color: #ff0084;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
  }

  #pagination-flickr a:link,
  #pagination-flickr a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
  }

  #pagination-flickr a:hover {
    border: solid 1px #666666;
  }
</style>

<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2>CMS</h2>
      <ul>

        <li><a href="/account/indexManager"><i class="fas fa-home"></i>Home </a></li>
        <li><a href="/manage/allfaculty"><i class="fas fa-user"></i>All Category</a></li>

        <li><a href="/manage/Statistical1"><i class="fas fa-user"></i>Dashboard</a></li>
        <li><a href="/logout"><i class="fas fa-map-pin"></i>Log out &times;</a></li>

      </ul>
      <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
      {{!-- <div class="header">Personal information</div> --}}
      <div class="dasboadContainer">
        <div class="header">
          {{!-- search by name --}}
          <form action="/admin/search" method="get">
            <input type="text" name="search" placeholder="Search all . . .">
            {{!-- <button type="submit"><i class="fas fa-search"></i></button> --}}
        </div>
        <div class="mid">
          {{!-- view file --}}
          <li><span class="headerMid">Category</span></li>
          <li><span>Book</span></li>
          <li><span>Code</span></li>
          <li><span>Report</span></li>
        </div>
        <div class="bodyConatainer">
          <div class="contentContainer">
            <li class="viewContainer">
              <div class="viewLeft">
                <h5>Design: A Survival Guide for Beginners</h5>
                <p>Time</p>
              </div>
              <div class="viewRight">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="far fa-eye"></i>
                <i class="fas fa-file-download"></i>
              </div>
            </li>
            <li>
              <div class="viewLeft">
                <h5>Design: A Survival Guide for Beginners</h5>
                <p>Time</p>
              </div>
              <div class="viewRight">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="far fa-eye"></i>
                <i class="fas fa-file-download"></i>
              </div>
            </li>
            <li>
              <div class="viewLeft">
                <h5>Design: A Survival Guide for Beginners</h5>
                <p>Time</p>
              </div>
              <div class="viewRight">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="far fa-eye"></i>
                <i class="fas fa-file-download"></i>
              </div>
            </li>
            <li>
              <div class="viewLeft">
                <h5>Design: A Survival Guide for Beginners</h5>
                <p>Time</p>
              </div>
              <div class="viewRight">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="far fa-eye"></i>
                <i class="fas fa-file-download"></i>
              </div>
            </li>
            <li>
              <div class="viewLeft">
                <h5>Design: A Survival Guide for Beginners</h5>
                <p>Time</p>
              </div>
              <div class="viewRight">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="far fa-eye"></i>
                <i class="fas fa-file-download"></i>
              </div>
            </li>

          </div>
          <div class="footerContainer">
            <ul id="pagination-flickr">
              <li class="previous-off">«Previous</li>
              <li class="active">1</li>
              <li><a href="?page=2">2</a></li>
              <li><a href="?page=3">3</a></li>
              <li><a href="?page=4">4</a></li>
              <li><a href="?page=5">5</a></li>
              <li><a href="?page=6">6</a></li>
              <li><a href="?page=7">7</a></li>
              <li class="next"><a href="?page=2">Next »</a></li>
            </ul>
          </div>
        </div>

        {{!-- <div class="info">
          <table class="table">
            <tr>
              <th>Username</th>
              <td>{{account.username}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{account.email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{account.phone}}</td>
            </tr>
            <tr>
              <th>Birthday</th>
              <td>{{account.birthday}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{account.address}}</td>
            </tr>
          </table>
        </div> --}}
      </div>
    </div>

</body>

</html>