<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/homestudent.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
    $(document).ready(function () {
      $('.checkbtn').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>

  <title>Document</title>
</head>

<body>
  <div class="layout">
    <div class="header">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      

    </div>
    <div class="layout1">
      <div class="menu">
        <ul>
          <li><a href="indexStudent">Home</a></li>
          <li id="popupdk"><a href="/file">Upload file</a></li>
          <li><a href="/file/fileSubmited">File Submitted</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="content">

        <h1>Personal information</h1>

        <table class="table">
          <tr>
            <th>Username</th>
            <td>{{account.username}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{account.email}}</td>
          </tr>
          <tr>
            <th>Faculty Name</th>
            <td>{{faculty.facultyname}}</td>
          </tr>
          <tr>
            <th>Faculty ID</th>
            <td>{{account.facultyID}}</td>
          </tr>
          <tr>
            <th>Phone</th>
            {{!-- <td>0916134144</td> --}}
            <td>{{account.phone}}</td>
          </tr>
          <tr>
            <th>Birthday</th>
            {{!-- <td>1/1/2000</td> --}}
            <td>{{account.birthday}}</td>
          </tr>
          <tr>
            <th>Address</th>
            {{!-- <td>11 tran khanh toan</td> --}}
            <td>{{account.address}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>@University-2021</p>
    <p id = "del1" style="display: none">{{deadline}}</p>
  </div>

  

</body>

</html>